.link-item {
  display: flex;
  justify-content: center;
  border-bottom: rgb(183 178 178) 1px solid;
}

.icon.link.item.menu-item.pb-menu-color {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}
