.link-item {
  display: flex;
  justify-content: center;
}
.link-item:hover {
  background-color: #fff;
}
a.header.item.menu-item {
  background-color: #0f172a;
  width: 55px;
}

.icon.link.item.menu-item.pb-menu-color {
  width: 100%;
  margin: 0;
  display: flex;
  background-color: #0f172a;
  color: #fff;
  justify-content: center;
}
