.input {
    margin: 5px 0 5px 0;
    width: 200px;
}
.user {
    display: flex;
}
.infor {
    max-width: 150px;
    width: 200px;
}
.button {
    width: 100;
}
.label {
    width: 50px;
    max-width: 50px;
}
.item {
    margin-top: 5px;
    margin-bottom: 5px;
}
 
.segment {
    width: 600px;
}
.add-input {
    display: flex;
}

.add-input .add-label{
    padding-top: 15px;
    padding-bottom: 10px;
}

.add-input .item {
    margin-left: 10px;
    margin-right: 10px;
}

.add-button {
    margin-left: 10px;
}

.add-input .item .error-message {
    color: red;
}